/*上传按钮*/

.el-file {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;

  .el-file-input {
    display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    position: relative;
  }

  .el-file-label {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border: #cccccc 1px dashed;
    color: #cccccc;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
    border-radius: 5px;
    line-height: 48px;
  }
}

.el-file:hover .el-file-label{
  border: #fc7b17 1px dashed;
  color: #fc7b17;
}

.el-file.loading {
  background: url("../img/loading.gif") no-repeat center center;

  .el-file-label {
    text-indent: -9999px;
  }
}

.el-file.hide{
  display: none;
}

.i-edit {
  width: 100px;
  height: 25px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  background-image: url(../img/ico_edit.gif);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 18px;
}

.s-edit {
  text-decoration: none;
  cursor: pointer;
  background-image: url(../img/ico_sedit.gif);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 18px;
}
